{% extends 'base.html' %}

{% load static %}

{% block page_content %}
    <div class="dropdown" style="float:left;">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content" style="left:0;">
  <a href="{% url 'edit user' pk=request.user.id %}">Edit User</a>
  <a href="{% url 'delete user' pk=request.user.id %}">Delete User</a>
  <a href="{% url 'logout' %}">Logout</a>
  </div>
    <span>Welcome {{ request.user.username }}!</span>
</div>
    <form>
  <input class="border border-3 border-top-0 border-start-0 border-end-0" type="search" name="word" id="word" placeholder="Type word"
    aria-label="Search" style=" outline: none;">
  <button class="btn btn-primary" type="submit">Search </button>
</form>


{% if word %}

    {% if word != "None" %}
<div class="d-flex justify-content-center vh-80 align-items-center">
    <div class="card mb-7">
  <div class="row no-gutters">
    <div class="col-md-8">
        {% if picture %}
      <img src={{ picture }} class="card-img" alt="{{ word }} picture">
            {% else %}
            <img src={% static 'no-image.jpeg' %} class="card-img" alt="No image">
            {% endif %}
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Searched word: {{ word }}</h5>
        <p class="card-text">Phonetic text: {{ phonetics_text }}</p>
        <hr>
          {% for part_of_speech, definiton, synonyms, antonyms in meanings.values %}
      <div class="col-md-10">
          <p class="card-text">{{ forloop.counter }}. Part of speech: {{ part_of_speech }}</p>
          <p class="card-text">Definition: {{ definiton }}</p>
          {% if synonyms != "[]" %}
          <p class="card-text">Synonyms: {{ synonyms|slice:"1:-1"}}</p>
          {% else %}
          <p class="card-text">Synonyms: No data.</p>
          {% endif %}
          {% if antonyms != "[]" %}
          <p class="card-text">Antonyms: {{ antonyms|slice:"1:-1" }}</p>
          {% else %}
          <p class="card-text">Antonyms: No data.</p>
          {% endif %}
      <hr>
      </div>
      {% endfor %}
      <audio controls style="width: 200px;">
  <source src={{ phonetics_audio }} type="audio/ogg">
</audio>
      {% if source %}
        <p class="card-text"><small class="text-muted">Source: <a href="{{ source }}" target="_blank">{{ source }}</a></small></p>
          {% else %}
          <p class="card-text"><small class="text-muted">Source: No data</small></p>
          {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% else %}

<p id="error">Welcome to Dictionary App. Please type a word :)</p>

{% endif %}

    {% else %}

    <p>Word doesn't exist in dictionary</p>
    {% endif %}

{% endblock %}